.container{
	background: grey;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}
.container h1{
	text-align: center;
	margin-top: 30px;
}
.container h4{
	text-align: center;
	color: white;
	padding-bottom: 20px;
}
.container h1 .satk{
	color: red;
}

.container h1 .home{
	color: #FF914D;
}
.container h4.probad{
	text-align: center;
}
.navbar-brand img{
	border-radius: 50%;
}
.arto{
	color: red;
}
.bissas{
	color: #FF914D;
}
.asta{
	color: black;
}
/*==============
Computer Coruse
===============*/

.corse{
	text-align: center;
	font-size: 60px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: white;
}
.com{
	color: red;
}
.pro{
	color: red;
}
.cos{
	color: red;
}
.aka{
	color: red;
}
.hi{
	color: black;
}
.basic{
	font-size: 25px;
	color: lightpink;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.col{
	margin-bottom: 20px;
}
.card-title{
	color: #FF0000 ;
}

.card-body{
	text-align: center;
}

.thank{
	background-color: black;
	padding: 20px;
	color: white;
}
.text{
	text-align: left;
}